{% extends 'base.html' %}

{% load static %}

{% block title %}Sell Your Harvest Crop to thousands of wholesalers in India {% endblock %}




{% block content %}
{% if brought %}
       <strong> </strong>
      <a href="/rango/">Continue</a><br />
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Congratulations! You have placed an Order of {{crop.crop_name}} </h1>
        </div>
      </div>
{% else %}





  <form  action="" method="post" enctype="multipart/form-data class="mb-4">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success"> SUBMIT</button>
  </form>


  {% endif %}

{% endblock %}
