{% extends 'base.html' %}

{% block title %}
  {{ board.name }}-{{block.super}}
{% endblock %}


{% block content %}
{{sold.h_description}}





  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"> Buy Premium {{my_crop.crop_name}}</h1>
      <p class="lead"></p>
    </div>
  </div>
{% if sold %}

  {% for i in sold %}
  <div class="container">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{i.crops}}</h5>
        <p class="card-text">{{i.h_description}}</p>
        <p class="card-text"><small class="text-muted"> Quantity : {{i.quantity}} Tonnes</small></p>
        <p class="card-text"><small class="text-muted">Quality: {{i.quality}}</small></p>
        <p class="card-text"><small class="text-muted">Sold By: {{i.sold_by}} </small></p>
        <p class="card-text"><small class="text-muted">Harvest Variety :  {{i.harvest_variety}}</small></p>
        <a href="{% url 'seller_buy' my_crop.pk i.pk%}" class="btn btn-primary">Buy {{my_crop.crop_name}}</a>

      </div>
    </div>
  </div>
</div>
</div>

{% endfor %}

{% else %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> Farmers are not selling {{my_crop.crop_name}} right now!!</h1>
    <p class="lead"></p>
  </div>
</div>

{% endif %}
{% endblock %}
